<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./css/style.bundle.css">
</head>
<body>
	<div class="mainWrapper">
		<div class="inputfield">
			<form action="" class="inputfield__form">
				<label class="inputfield__formLabel">
					<span class="inputfield__formLabelText">Create a new task ...</span>
					<input id="inputfield__formInput" type="text" class="inputfield__formInput">
				</label>
				<input type="button" id="inputfield__formButton" class="inputfield__formButton" value="... аdd">
			</form>
		</div>
		<div class="taskfield">
			<ul class="taskfield__sortList">
				<li id="taskfield__sortByNameButton" class="taskfield__sortButton">By Name</li>
				<li id="taskfiled__sortByDateButton" class="taskfield__sortButton">By Date</li>
			</ul>
			<ul id="taskfield__taskList" class="taskfield__taskList"></ul>
			<ul class="taskfield__pageList"></ul>
		</div>
	</div>

	<!--<li class="taskfield__taskItem">
		<label class="taskfield__itemTaskField">
			<input type="checkbox" class="taskfield__itemCheckbox">
			<span class="taskfield__itemText">Walk with the dog, for example</span>
		</label>
		<div class="taskfield__itemOptions">
			<span class="taskfield__itemDate">6.6.2018</span>
			<a href="#" class="taskfield__itemEditButton">Edit</a>
			<a href="#" class="taskfield__itemDeleteButton">+</a>
		</div>
		<div class="taskfield__tooltip">
			<input type="text" class="taskfield__tooltipInputField" placeholder="I have changed my mind ...">
			<input type="submit" class="taskfield__tooltipButton" value="Edit">
		</div>
	</li>-->

	<script src="./js/bundle.js"></script>

</body>
</html>