$dark: #081822;
$main: #244769;
$light: #eef5ee;
$accent: #b5d1f1;
$sub: #c1cc9c;

$font: Georgia, serif;

@mixin roundButton ($bgColor, $color, $size: 2rem) {
  display: inline-block;
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: $bgColor;
  color: $color;
  text-align: center;
  line-height: $size;
  cursor: pointer;

  &:hover {
    background-color: $color;
    color: $bgColor;
  }
}

@mixin squareButton ($bgColor, $color) {
  $size: 2rem;
  display: inline-block;
  border-radius: 5px;
  padding: 0 .5rem;
  height: $size;
  line-height: $size;
  text-align: center;
  background-color: $bgColor;
  color: $color;
  cursor: pointer;

  &:hover {
    background-color: $color;
    color: $bgColor;
  }
}

%wrapper {
  margin: 0 auto;
  max-width: 40rem;
}

// general

html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow: scroll;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $font;
  overflow-x: hidden;
  opacity: 1;
  color: $dark;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// inputfield

.inputfield__form {
  @extend %wrapper;
  padding: 0 2rem;
}

.inputfield__formLabel,
.inputfield__formLabelText,
.inputfield__formInput {
  display: block;
}

.inputfield__formLabelText {
  padding: 1rem 0;
  text-align: center;
  font-weight: bold;
}

.inputfield__formInput {
  box-sizing: border-box;
  outline: none;
  border-color: $main;
  border-style: solid;
  padding: .5rem;
  width: 100%;
  font-family: $font;
}

.inputfield__formButton {
  @include squareButton($main, $light);
  outline: none;
  border: none;
  border-radius: 0;
  width: 100%;
  font-family: $font;
  font-weight: bold;
}

// taskfield

%taskfield__section {
  @extend %wrapper;
  padding: 1rem 2rem;
}

.taskfield {
  padding: 2rem 0;
}

.taskfield__sortList {
  @extend %taskfield__section;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskfield__sortButton {
  @include squareButton($sub, $dark);
  margin-left: .5rem;

  &:first-child {
    margin-left: 0;
  }
}

.taskfield__taskList {
  @extend %taskfield__section;
}

.taskfield__taskItem,
.taskfield__itemTaskField,
.taskfield__itemOptions{
  display: flex;
  align-items: center;
}

.taskfield__taskItem {
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  border-top: 5px dotted $main;

  &:first-child {
    border-top: none;
  }
}

.taskfield__itemCheckbox {
  margin: 0;

  &:checked + .taskfield__itemText {
    text-decoration: line-through;
    color: $main;
  }
}

.taskfield__itemText {
  margin-left: .5rem;
}

.taskfield__itemDate,
.taskfield__itemEditButton,
.taskfield__itemDeleteButton {
  margin-left: .5rem;
}

.taskfield__itemDate {
  padding: 0 .5rem;
}

.taskfield__itemEditButton {
  @include squareButton($accent, $main);
}

.taskfield__itemDeleteButton {
 @include roundButton($main, $light);
  transform-origin: center;
  transform: rotate(45deg);
}

.taskfield__pageList {
  @extend %taskfield__section;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskfield__pageItem {
  @include roundButton($sub, $dark);
  margin-left: .5rem;

  &:first-child {
    margin-left: 0;
  }
}

.taskfield__tooltip {
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  padding: .5rem 1rem;
  background-color: $accent;
  color: $dark;

  &:before {
    $size: .5rem;
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
    width: $size;
    height: $size;
    background-color: inherit;
  }
}

.taskfield__tooltipInputField {
  outline: none;
  border-color: $main;
  border-style: solid;
  padding: 0 .5rem;
  width: 12rem;
  font-family: $font;
}

.taskfield__tooltipChangeButton {
  @include squareButton($main, $light);
  outline: none;
  border: none;
  border-radius: 0;
  font-family: $font;
}

.taskfield__tooltipCloseButton {
  @include roundButton($main, $light, 1rem);
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: center;
  transform: translate(50%, -50%) rotate(45deg);
}