html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow: scroll;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: Georgia, serif;
  overflow-x: hidden;
  opacity: 1;
}

$dark: #081822;
$main: #244769;
$light: #eef5ee;
$accent: #b5d1f1;
$sub: #c1cc9c;

$timeStandart: .2s;

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

%wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 4rem;
  max-width: 640px;
  background-color: rgba($dark, .75);
}

.wrapper {
  min-height: 100vh;
  background-color: $main;
}

.tooltip {
  position: absolute;
  left: 0;
  bottom: 100%;
  z-index: 10;
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: $accent;
  display: flex;
  align-items: center;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 5;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
    $size: .5rem;
    width: $size;
    height: $size;
    background-color: $accent;
  }
}

.tooltip__inputField {
  padding: .5rem;
  border: none;
}

.tooltip__inputButton {
  margin-left: 0.5rem;
  border-radius: 5px;
  height: 2rem;
  line-height: 2rem;
  padding: 0 .5rem;
  background-color: $main;
  color: $light;
  transition: $timeStandart;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: $light;
    color: $main;
  }
}


.inputfield {
  $size: 8rem;
  padding-top: $size;
  padding-bottom: $size;
  background-image: url(../img/inputfield-bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.inputfield__form {
  @extend %wrapper;
  color: $light;
}

.inputfield__labelText {
  display: block;
  padding: 1rem 0;
}

.inputfield__input,
.inputfield__button {
  padding: 1rem;
}

.inputfield__input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;

  &:focus {
    background-color: $light
  }
}

.inputfield__button {
  width: 100%;
  border: none;
  outline: none;
  background-color: $main;
  color: $light;
  text-align: right;
  font-family: Georgia, serif;
  font-weight: bold;
  cursor: pointer;
  transition: $timeStandart;

  &:hover {
    background-color: $accent;
    color: $main;
  }
}

.taskfield {
  color: $light;
}

.taskfield__header {
  padding: 2rem 0;
  text-align: center;
  background-color: $dark;
  color: $light;
}

.taskfield__menu {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskfield__menuItem {
  margin-left: 1rem;
  padding: .25rem .5rem;
  border-radius: 5px;
  background-color: $sub;
  color: $dark;
  cursor: pointer;
  transition: $timeStandart;

  &:first-child {
    margin-left: 0;
  }
  &:hover {
    background-color: $light;
  }
}

.taskfield__page {
  $size: 2rem;
  margin-left: .5rem;
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: 50%;
  background-color: $sub;
  text-align: center;
  color: $dark;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }
}

.taskfield__list {
  @extend %wrapper;
  box-sizing: content-box;
}

.taskfield__item,
.taskfield__itemLabel {
  display: flex;
  align-items: center;
}

.taskfield__item {
  position: relative;
  padding: 1rem 2rem;
  border-top: 2px dotted $main;

  &:first-child {
    border-top: none;
  }
}

.taskfield__itemLabel {
  cursor: pointer;
  margin-right: auto;

  &:hover {
    color: $accent;
  }
}

.taskfield__itemCheckbox:checked + .taskfield__itemText {
  text-decoration: line-through;
  color: $main;
}

.taskfield__itemCheckbox {
  outline: none;
}

.taskfield__itemText {
  margin: 0 1rem;
}

.taskfield__itemDelete {
  $size: 2rem;
  flex-shrink: 0;
  margin-left: 0.5rem;
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  border-radius: 50%;
  transform: rotate(45deg);
  background-color: $main;
  color: $light;
  font-weight: bold;
  transition: $timeStandart;
  cursor: pointer;

  &:hover {
    background-color: $accent;
    color: $main;
  }
}

.taskfield__itemDate {
  font-size: .75rem;
  margin-left: 0.5rem;
  color: $sub;
}

.taskfield__itemEdit {
  margin-left: 0.5rem;
  border-radius: 5px;
  height: 2rem;
  line-height: 2rem;
  padding: 0 .5rem;
  background-color: $accent;
  color: $main;
  transition: $timeStandart;
  cursor: pointer;

  &:hover {
    background-color: $main;
    color: $accent;
  }
}

.searchfield {
  @extend %wrapper;
  margin-top: 2rem;
  padding: 2rem;
}

.searchfield__labelText {
  display: block;
  text-align: center;
}

.searchfield__input {
  @extend .inputfield__input;
  background-color: $sub;
  margin-top: 1rem;
}